/node_modules
v2/lunsj_ala_fornebu/.env
v2/lunsj_ala_fornebu/database.db
v2/lunsj_ala_fornebu/lib/database/database.db
v2/lunsj_ala_fornebu/lib/database/database.db
v2/lunsj_ala_fornebu/lib/database/database.db
